<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <script src="../static/jquery/jquery-2.1.4.min.js"></script> -->
<!-- <SCRIPT src="../static/js/setday.js"></SCRIPT> -->

</head>
<script type="text/javascript">
		
	 function btnAction () { 
    var objectType= document.getElementById("objectType").value;
     var beginTime= document.getElementById("beginTime").value;
     var endTime= document.getElementById("endTime").value; 
    // alert(objectType)
     if (objectType ==''||objectType==null||objectType=='head') {
    	 alert('请选择导入对象');
    	 return false;
     } 
     if (objectType =='SalesData') {
    	 if(beginTime==''||beginTime==null||endTime==''||endTime==null){
    	 		alert('请填写完整开始结束时间');
    	 		return false;
    	 }else{
    		 return true;
    	 }
         
     } 
     if (objectType =='Target') {
    	 if(beginTime==''||beginTime==null||endTime==''||endTime==null){
    			alert('请填写完整开始结束时间');
    	 		return false;
    	 }else{
    		 return true;
    	 }
         
     } 
    
    
	 }
</script>
<body>
	<form action="/sale/add" method="post" onsubmit="return submit();">
			<table style="width: 60%; height: 40%; align-content: center; float: center;">
			
				<tr>
					<td colspan="2">
						<ul>
							<li>提示：在《TARGET表》与《流向数据》中需选择时间段操作</li>
						</ul>
					</td>
					
				</tr>
				<tr>
					<td  colspan="2">开始时间:<input  name="beginTime" id="beginTime" type="date"></td>
					<!-- <td></td> -->
				</tr>
				<tr>
					<td colspan="2" >结束时间:<input name="endTime" id="endTime" type="date"></td>
					<!-- <td style="float: left;"></td> -->
				</tr>
				<tr>
					<td  colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对象:<!-- </td>
					<td> -->
						<select id="objectType" name="objectType">
						<option disabled="disabled" selected="selected" value="head">请选择对象</option>
							<option value="SalesData">流向数据</option>
							<option value="Pharm">医院表</option>
							<option value="Distributor">经销商表</option>
							<option value="Group">医院集团关系表</option>
							<option value="InstitutionAgnmapping">医院Mapping表</option>
							<option value="Target">TARGET表</option>
							<option value="ProductHierarchy">产品表</option>
						</select>
						<!-- <input type="radio" name="objectType" id="SalesData" value="SalesData">流向数据 
						<input type="radio" name="objectType" id="Pharm" value="Pharm">医院表
						<input type="radio" name="objectType" id="Distributor" value="Distributor"> 经销商表 
						<input type="radio" name="objectType" id="Group" value="Group">医院集团关系表
						<input type="radio" name="objectType" id="InstitutionAgnmapping" value="InstitutionAgnmapping">医院Mapping表
						<input  type="radio" name="objectType" id="Target"  value="Target">target表 -->
					</td>
					
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" value="导入" onclick="return btnAction()">导入</button>
					</td>
				</tr>
				
					<tr th:each="log: ${list}">
					<td th:text="${log}"></td>
					
				</tr>
			</table>
	
	
	</form>

</body>

</html>
