<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <script src="../static/jquery/jquery-2.1.4.min.js"></script> -->
<!-- <SCRIPT src="../static/js/setday.js"></SCRIPT> -->

</head>
<script type="text/javascript">
		
	 function btnAction () { 
    var objectType= document.getElementById("objectType").value;
     var beginTime= document.getElementById("beginTime").value;
     var endTime= document.getElementById("endTime").value; 
     if (objectType =='SalesData') {
    	 if(beginTime==''||beginTime==null||endTime==''||endTime==null){
    	 		alert('请填写完整开始结束时间');
    	 		return false;
    	 }else{
    		 return true;
    	 }
         
     } 
     if (objectType =='Target') {
    	 if(beginTime==''||beginTime==null||endTime==''||endTime==null){
    			alert('请填写完整开始结束时间');
    	 		return false;
    	 }else{
    		 return true;
    	 }
         
     } 
    
	 }
</script>
<body>
	<form action="/sale/add" method="post" onsubmit="return submit();">
			<table style="width: 60%; height: 40%; align-content: center; float: center;">
			
				<tr>
					<td colspan="2"><span style="text-align:center;">SARA数据导入</span></td>
					
				</tr>
				<tr>
					<td>开始时间:</td>
					<td><input name="beginTime" id="beginTime" type="date"></td>
				</tr>
				<tr>
					<td>结束时间:</td>
					<td><input name="endTime" id="endTime" type="date"></td>
				</tr>
				<tr>
					<td>对象:</td>
					<td>
						<select id="objectType" name="objectType">
						<option disabled="disabled" selected="selected"  >请选择对象</option>
							<option value="SalesData">流向数据</option>
							<option value="Pharm">医院表</option>
							<option value="Distributor">经销商表</option>
							<option value="Group">医院集团关系表</option>
							<option value="InstitutionAgnmapping">医院Mapping表</option>
							<option value="Target">target表</option>
						</select>
						<!-- <input type="radio" name="objectType" id="SalesData" value="SalesData">流向数据 
						<input type="radio" name="objectType" id="Pharm" value="Pharm">医院表
						<input type="radio" name="objectType" id="Distributor" value="Distributor"> 经销商表 
						<input type="radio" name="objectType" id="Group" value="Group">医院集团关系表
						<input type="radio" name="objectType" id="InstitutionAgnmapping" value="InstitutionAgnmapping">医院Mapping表
						<input  type="radio" name="objectType" id="Target"  value="Target">target表 -->
					</td>
					
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" value="导入" onclick="return btnAction()">导入</button>
					</td>
				</tr>
			</table>
	
	</form>

</body>

</html>
