<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saler.mapper.BlocMapper">
  <resultMap id="BaseResultMap" type="com.saler.pojo.Bloc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="period" jdbcType="TIMESTAMP" property="period" />
    <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="chain" jdbcType="NVARCHAR" property="chain" />
    <result column="chain_en" jdbcType="VARCHAR" property="chainEn" />
    <result column="MODIFYON" jdbcType="TIMESTAMP" property="modifyon" />
    <result column="MODIFYBY" jdbcType="NVARCHAR" property="modifyby" />
    <result column="CREATEBY" jdbcType="NVARCHAR" property="createby" />
    <result column="CREATEON" jdbcType="TIMESTAMP" property="createon" />
    <result column="DELETED" jdbcType="INTEGER" property="deleted" />
    <result column="TAID" jdbcType="VARCHAR" property="taid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
</mapper>