<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saler.mapper.HospitalsMapper">
  <resultMap id="BaseResultMap" type="com.saler.pojo.Hospitals">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="HOSPITALID" jdbcType="NVARCHAR" property="hospitalid" />
    <result column="ACTUALUSEID" jdbcType="NVARCHAR" property="actualuseid" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="NAMECN" jdbcType="NVARCHAR" property="namecn" />
    <result column="NAMEEN" jdbcType="NVARCHAR" property="nameen" />
    <result column="COMPLETENAME" jdbcType="NVARCHAR" property="completename" />
    <result column="TIER" jdbcType="NVARCHAR" property="tier" />
    <result column="grade" jdbcType="NVARCHAR" property="grade" />
    <result column="TYPE" jdbcType="NVARCHAR" property="type" />
    <result column="STYLE" jdbcType="NVARCHAR" property="style" />
    <result column="CITYID" jdbcType="NVARCHAR" property="cityid" />
    <result column="STATUS" jdbcType="NVARCHAR" property="status" />
    <result column="POSTALCODE" jdbcType="NVARCHAR" property="postalcode" />
    <result column="NOOFBEDS" jdbcType="DOUBLE" property="noofbeds" />
    <result column="TELNO" jdbcType="NVARCHAR" property="telno" />
    <result column="ADDRESS" jdbcType="NVARCHAR" property="address" />
    <result column="COMMENTS" jdbcType="NVARCHAR" property="comments" />
    <result column="DELETED" jdbcType="INTEGER" property="deleted" />
    <result column="CITYNAME" jdbcType="NVARCHAR" property="cityname" />
    <result column="provinceid" jdbcType="NVARCHAR" property="provinceid" />
    <result column="provincename" jdbcType="NVARCHAR" property="provincename" />
    <result column="modifyon" jdbcType="TIMESTAMP" property="modifyon" />
    <result column="modifyby" jdbcType="NVARCHAR" property="modifyby" />
    <result column="createby" jdbcType="NVARCHAR" property="createby" />
    <result column="createon" jdbcType="TIMESTAMP" property="createon" />
  </resultMap>
</mapper>